*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: _palette(base, bg);
    color: _palette(base, primary-blue);
}

.container {
    width: 100%;
    @include breakpoint(x-small) {
        max-width: 720px;
    }
    @include breakpoint(small) {
        max-width: 928px;
    }
    @include breakpoint(medium) {
        max-width: 1344px;
    }
    @include breakpoint(large) {
        max-width: 1584px;
    }
    @include breakpoint(x-large) {
        max-width: 1584px;
    }
    padding: 0 $base-font-size;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 16px;
    padding-left: 16px;
}
.col-2 {
    @include breakpoint(small) {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
.col-3 {
    @include breakpoint(small) {
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
}

.col-4 {
    @include breakpoint(small) {
        max-width: 33.333333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    }
}

.col-5 {
    @include breakpoint(small) {
        max-width: 41.666667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    }
}

.col-6 {
    @include breakpoint(small) {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.col-8 {
    @include breakpoint(small) {
        max-width: 66.666667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    }
}
.col-10 {
    @include breakpoint(small) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}
.col-md-3 {
    @include breakpoint(large) {
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
}
.col-md-4 {
    @include breakpoint(large) {
        max-width: 33.333333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    }
}
.col-md-5 {
    @include breakpoint(large) {
        max-width: 41.666667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    }
}
.col-md-6 {
    @include breakpoint(large) {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.col-md-7 {
    @include breakpoint(large) {
        max-width: 58.333333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    }
}
.col-md-8 {
    @include breakpoint(large) {
        max-width: 66.666667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    }
}
.col-lg-3 {
    @include breakpoint(x-large) {
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
}
.col-lg-4 {
    @include breakpoint(x-large) {
        max-width: 33.333333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    }
}

.col-lg-5 {
    @include breakpoint(x-large) {
        max-width: 41.666667%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    }
}

.col-lg-6 {
    @include breakpoint(x-large) {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.clearfix {
    clear: both;
}

.d-block {
    display: block;
}