.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.mx-5 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.m-0 {
    margin: 0!important;
}

.mr-2 {
    margin-right: .5rem!important;
}
.mb-2 {
    margin-bottom: .5rem!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.mt-5 {
    margin-top: 3rem!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.p-0 {
    padding: 0!important;
}

.p-3 {
    padding: 1rem!important;
}