.exiled {
    background: url("https://oshibkarium.s3.eu-west-3.amazonaws.com/img/core/banka_800x800.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    img {
        width: 65%;
        margin-top: 3em !important;
        margin-left: 1em;
    }
}
