.wrapper {
    display: flex;
}
span.card-index {
    font-family: _font(heading, family);
    font-weight: _font(heading, weight-bold);
    margin-left: 1rem;
    font-size: $base-line-height;
    border-radius: $base-border-radius * 3;
    border: 2px solid _palette(base, primary-red);
    padding: .25rem 0.75rem;
    margin-top: 2.35rem;
    height: max-content;
}
span.subtitle {
    font-family: _font(italic, family);
    font-weight: _font(italic, weight-bold);
    font-size: $base-font-size * 2;
    font-style: italic;
}

.card-detail > p, .card-detail li {
    margin-left: $base-font-size * 2;
    font-size: $base-font-size * 1.25;
    line-height: 150%;
}
.card-detail > h3 {
    font-family: _font(heading, family);
    font-size: $base-font-size * 2;
}
.card-detail ol, .card-detail ul {
    margin-left: -1.25rem;
}

table {
    width: 100%;
    background-color: #fff;
    border: 0!important;
    border-radius: $base-border-radius;
    margin: 2.5em 0;
}
tr > td:only-child.red {
    width: 100%;
    color: _palette(base, primary-red);
}
tr > td:only-child.green {
    width: 100%;
    color: _palette(base, green);
}
tr > td:first-child {
    color: _palette(base, primary-red);
}
tr > td:nth-child(2) {
    color: _palette(base, green);
}
td {
    border: 0!important;
    padding: 0 1.25em;
    width: 50%;
    font-family: _font(italic, family);
    font-size: $base-font-size * 1.5;
    font-style: italic;
}
td > p {
    font-family: _font(italic, family);
    font-size: $base-font-size * 1.5;
    font-style: italic;
}
p#hidden {
    display: none;
}

.promo {
    width: 100%; 
    border: 2px solid _palette(base, grey);
    padding: 0 1.25em 2.5em;
    border-radius: $base-border-radius;
}
.promo-block {
    padding: 0 1em;
    h3 {
        font-family: _font(heading, family);
        font-size: $base-font-size * 2;
        margin-bottom: .5em;
    }
    p {
        font-family: _font(base, family);
        font-size: $base-font-size * 1.25;
        line-height: 150%;
        margin-bottom: 1.5em;
    }
}
img.promo-image {
    max-width: 98px;
    margin-top: 2.5em;
}

.button-set {
    display: grid;
}

a#check {
    font-style: normal;
}
.clarity {
    width: 100%; 
    background-color: _palette(base, primary-blue);
    padding: 0 2.5em 2.5em;
    border-radius: $base-border-radius;
    margin-bottom: 2.5em;

    p{
        color: #fff;
        font-family: _font(italic, family);
        font-size: $base-font-size * 1.5;
        font-style: italic;
    }
    a#clarity_pos {
        margin-right: 1em;
    }
    p.thanx {
        color: _palette(base, primary-red);
        font-family: _font(italic, family);
        font-size: $base-font-size;
        font-style: italic;
        display: none;
    }
}