footer {
    min-height: 60px;
    background-color: _palette(base, primary-blue);
    color: #fff;
    font-size: $base-font-size;
    padding-top: 22px;
    margin-top: 5rem;
    @media screen and (max-width: 1440px) {
        font-size: $small-font-size;
    }

    h4 {
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $base-font-size;
        letter-spacing: -0.5px;
        line-height: 21px;
    }
    ul {
        list-style: none;
        padding-left: 0;

        a {
            color: #fff;
            line-height: 130%;
            &:hover {
                color: _palette(base, primary-red);
            }
        }
    }
    .btn-small {
        height: 40px;
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $small-font-size;
        padding: 0px 17px;
        margin-left: 7px;
        cursor: pointer;
    }
    input[type="email"] {
        border-radius: $base-font-size;
        height: 40px;
        width: 245px;
        box-sizing: border-box;
        border: transparent;
        font-size: $base-line-height;
        padding: 7px;
        margin: 0 auto;
        &::placeholder {
            font-family: _font(italic, family);
            font-weight: _font(italic, weight-bold);
            font-style: italic;
            font-size: $base-line-height;
            color: _palette(base, primary-blue);
            opacity: 0.3;
        }
    }
    form {
        margin-bottom: 1em;
        float: left;
        width: auto;
        @media screen and (max-width: 1024px) {
            float: none;
        }
    }
    .copyright {
        margin-top: 100px;
        padding-bottom: 40px;
        opacity: 0.5;
        .sep {
            margin: 0 10px;
        }
        a {
            color: #fff;
            &:hover {
                color: _palette(base, primary-red);
            }
        }
    }
    p{
        font-size: $small-font-size;
    }
    p.success {
        display: none;
        font-size: $base-font-size;
        font-family: _font(italic, family);
        font-style: italic;
        color: _palette(base, primary-red);
    }

    .footer {
        @media screen and (max-width: 1024px) {
            text-align: center;
        }
    }
}
