nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 60px;
    width: 100%;
    z-index: 99;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row;
    }
    ul.nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
    }
    a.navbar-brand {
        display: inline-block;
        color: _palette(base, primary-blue);
        font-weight: 700;
        font-size: $small-font-size * 2;
        font-family: _font(heading, family)
    }
}

a.nav-link {
    color: _palette(base, primary-blue);
    font-weight: 700;
    font-size: $small-font-size;
    font-family: _font(heading, family);
    margin-left: $base-font-size;
}

nav.scrolled {
    background-color: _palette(base, primary-blue);
    a {
        color: #fff;
    }
}

.navbar-toggler {
   display: none;
}