a {
    text-decoration: none;
    color: _palette(base, primary-red);
}

.page-content {
    font-size: $base-font-size * 1.25;
}


.align-center {
    text-align: center;
}

.btn {
    border-radius: $base-font-size;
    padding: $x-small-font-size $base-font-size;
    font-family: _font(heading, family);
    font-weight: _font(heading, weight-bold);
    font-size: $small-font-size;
    border: 2px solid _palette(base, primary-red);
    color: _palette(base, primary-red);
}
.btn-primary {
    background-color: _palette(base, primary-red) !important;
    color: #fff !important;
}

.header {
    height: calc(100vh - 60px);
    .row {
        height: inherit;
    }
}

#cards {
    h2 {
        font-family: _font(italic, family);
        font-size: $base-line-height;
        font-weight: _font(italic, weight-bold);
    }
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: $base-border-radius;
    background: linear-gradient(180deg, #ffffff 0%, #f2efec 100%), #ffffff;
    &:hover {
        background: #fff;
        box-shadow: $base-shadow;
    }
    a {
        color: _palette(base, primary-blue);
    }
    h3 {
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $base-line-height * 0.75;
    }
    .card-body {
        display: flex;
        flex-direction: row;
    }
    .w-66 {
        width: 66%;
    }
    .w-33 {
        width: 33%;
    }
    img {
        width: 100%;
    }
    .index {
        position: absolute;
        top: 0;
        right: 0;
        background-color: _palette(base, grey);
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $small-font-size;
        border-radius: $base-border-radius;
        padding: 0.25rem 0.75rem;
        color: #fff;
        a {
            color: #fff;
        }
    }
    .highlight {
        background-color: _palette(base, red);
    }
    .done {
        background-color: _palette(base, primary-blue);
    }
    .card-text {
        font-size: $base-font-size;
        line-height: 130%;
        @media screen and (max-width: 1440px) {
            font-size: $small-font-size;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    width: fit-content;
    padding: 0.5em;
    background-color: _palette(base, primary-blue);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: $base-font-size / 1.5;

    &::after {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent _palette(base, primary-blue) transparent;
    }
}

.tooltip:hover .tooltiptext {
    display: block;
}
.bg {
    background: url("https://oshibkarium.s3.eu-west-3.amazonaws.com/img/core/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -60px 0 60px;
    height: calc(100vh + 60px);
}

.helptext {
    font-size: $small-font-size;
}