p {
    font-size: $base-font-size * 1.25;
    line-height: 150%;
}
.question {
    font-size: $base-font-size * 1.5;
    line-height: 120%;
    font-family: _font(heading, family);
    font-weight: _font(heading, weight-bold);
    position: relative;
    padding-right: 35px;

    @media screen and (max-width:768px){
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 7px);
            border: 15px solid transparent;
            border-top: 15px solid _palette(base, primary-blue);
            right: 0;
        }
    }
    
}
.answer {
    @media screen and (max-width:768px){ 
        display: none;
        &:first-of-type {
            display:block;
        }
    }
}
.sent {
    display: none;
}
form#request_editor {
    width: 100%;
    max-width: 288px;
    display: flex;
    flex-direction: column;

    label {
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $small-font-size;
        line-height: $base-font-size;
        letter-spacing: -.5px;
        color: _palette(base, primary-blue);
        margin-bottom: 0.5em;
    }
    input {
        border-radius: $base-font-size;
        height: 48px;
        width: 288px;
        box-sizing: border-box;
        border: 2px solid _palette(base, primary-blue);
        font-size: $base-line-height;
        padding: 7px;
        margin-bottom: 1em;
    }
}
