form {
    width: 100%;
    max-width: 288px;
    display: flex;
    flex-direction: column;

    label {
        font-family: _font(heading, family);
        font-weight: _font(heading, weight-bold);
        font-size: $small-font-size;
        line-height: $base-font-size;
        letter-spacing: -.5px;
        color: _palette(base, primary-blue);
        margin-bottom: 0.5em;
    }
    input {
        border-radius: $base-font-size;
        height: 48px;
        width: 288px;
        box-sizing: border-box;
        border: 2px solid _palette(base, primary-blue);
        font-size: $base-line-height;
        padding: 7px;
        margin-bottom: 1em;
    }
}

h1 {
    @media screen and (max-width: 1024px) {
        font-size: $small-font-size * 3;
    }
    @media screen and (max-width: 768px) {
        font-size: $small-font-size * 2;
    }
    font-size: $header-height;
    font-family: _font(heading, family);
     
}
h2 {
    font-family: _font(heading, family);
}

form#register {
    p {
        margin: 0;
        line-height: unset;
        &:last-of-type {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    span.helptext {
        font-size: $small-font-size;
        margin-bottom: 1em;
        display: block;
    }
    input#id_username, input#id_email, input#id_password2 {
        margin-bottom: 0;
    }
    input#id_is_subscribed {
        width: $base-font-size * 2;
        height: $base-font-size * 2;
    }
    label[for='id_is_subscribed'] {
        font-family: _font(base, family);
        font-size: $small-font-size;
        font-weight: normal;
    }
}