/// Wraps @content in a @media block using a given breakpoint
/// @param {string} $breakpoint Breakpoint
/// @param {map} $queries Additional queries
@mixin breakpoint($breakpoint: null, $queries: null) {
    $query: 'screen';
    // Breakpoint.
    @if $breakpoint and map-has-key($breakpoints, $breakpoint) {
        $query: $query + ' and ' + map-get($breakpoints, $breakpoint);
    }
    // Queries.
    @if $queries {
        @each $k,
        $v in $queries {
            $query: $query + ' and (' + $k + ':' + $v + ')';
        }
    }
    @media #{$query} {
        @content;
    }
}