$font: (
    base: (
        family: (
            "PT Serif",
            serif,
        ),
        weight: 400,
        weight-bold: 700,
        text-transform: inherit,
    ),
    heading: (
        family: (
            "Montserrat",
            sans-serif,
        ),
        weight: 400,
        weight-bold: 700,
        text-transform: inherit,
    ),
    italic: (
        family: (
            "Cormorant",
            serif,
        ),
        weight: 400,
        weight-bold: 600,
        style: italic,
        text-transform: inherit,
    ),
);
