// Breakpoints.
@import "breakpoints";

// Font.
@import "fonts";

// Colors.
@import "colors";

/* Boilerplate variables */
// Fonts.
$base-font-size: 16px;
$small-font-size: 14px;
$x-small-font-size: 12px;
$base-line-height: 24px;

// Dimensions.
$small-spacing: $base-line-height / 2;
$body-offset: 12px;


// Header 
$header-height: $base-line-height * 2;

// Borders.
$base-border-radius: 10px;

// Shadows.
$base-shadow: 0px 4px 10px rgba(57, 63, 88, 0.3);
